body{
    background-image: url(11.png);
    background-size: cover  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: black;
    font-size: 50px;
    text-align: center;
    font-style: normal;
}
.links{
    position: fixed;
    color: black;
    font-size: 20px;
    left: 20px;
    bottom: 20px;
}
.links a{
    color: black;
}
.links a:hover{
    color: black;
}
.sign_link{
    color: black;
    font-size: 20px;
    text-align: center;
    font-style: normal;
}
div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
